:root {
  --sdimgviewer-background: rgb(200 200 200 / 95%);
}

.dark {
  --sdimgviewer-background: rgb(18 18 18 / 95%);
}

#lightboxModal {
  display: none;
  opacity: 0;
  background: var(--sdimgviewer-background);
  background-repeat: repeat;
  transition: opacity .2s ease;
  overflow: hidden;
}

#lightboxModal.display {
  opacity: 1;
  transition: opacity .25s ease;
}

#modalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  transform: translate(0px, 0px) scale(1.2);
  transition: transform .2s ease-out;
  pointer-events: none;
}

#modalWrapper.display {
  transform: translate(0px, 0px) scale(1);
}

#modalImage {
  display: flex;
  object-fit: contain;
  position: relative;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  background-color: var(--input-background-fill);
  transform: translate(0px, 0px) scale(1.0001);
  transition: transform .4s cubic-bezier(.2, .4, .4, 1) 0s;
  outline: none;
  pointer-events: auto;
  user-select: none;
  -webkit-user-select: none;
}

#lightboxModal > .modalControls {
  height: 100%;
  padding: 0 !important;
  background-color: transparent !important;
  transition: opacity .3s ease;
  pointer-events: none;
}

#lightboxModal > .modalControls.hide {
  opacity: 0;
}

#lightboxModal > .modalControls.hide * {
  pointer-events: none !important;
}

#lightboxModal > .modalControls > span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 9999;
  top: 0;
  height: 36px;
  width: 36px;
  padding: 7px;
  box-shadow: 0 0 5px 1px #000;
  color: var(--primary-500);
  background: var(--input-background-fill);
  transition: .2s ease;
  pointer-events: auto;
}

#lightboxModal > .modalControls > span:hover {
  color: var(--background-fill-primary);
  background: var(--primary-500);
}

#lightboxModal > .modalControls > span > svg {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 60%));
}

#lightboxModal > .modalControls > .downloadImage {
  left: 0;
  border-bottom-right-radius: 1.2rem;
}

#lightboxModal > .modalControls > .downloadImage > svg {
  left: -1px;
}

#lightboxModal > .modalControls > .modalToggleLivePreview {
  left: 70px;
  border-radius: 0 0 12px 12px;
}

#lightboxModal > .modalControls > .modalClose {
  right: 0;
  border-bottom-left-radius: 1.2rem;
}

#lightboxModal > .modalControls > .modalClose > svg {
  right: -1px;
  filter: drop-shadow(0 0 1px rgb(0 0 0 / 60%)) drop-shadow(0 0 1px rgb(0 0 0 / 60%)) drop-shadow(0 0 1px rgb(0 0 0 / 90%));
}

#lightboxModal > .modalControls > .modalClose:hover {
  color: #fff !important;
  background: red;
  filter: drop-shadow(0 0 4px red);
}

#lightboxModal > .modalControls > .modalNext,
#lightboxModal > .modalControls > .modalPrev {
  --a: -30px !important;
  align-items: center;
  z-index: 9999;
  top: 50%;
  height: 60px;
  width: 85px;
  padding: 0;
  margin: 0;
  border-radius: 100px;
  box-shadow: 0 0 3px 1px #000;
  color: var(--primary-500);
  background: var(--input-background-fill) !important;
  pointer-events: auto;
  transition: .2s ease;
}

#lightboxModal > .modalControls > .modalNext {
  justify-content: left;
  right: var(--a);
  transform-origin: right;
}

#lightboxModal > .modalControls > .modalPrev {
  justify-content: right;
  left: var(--a);
  transform-origin: left;
}

#lightboxModal > .modalControls > .modalNext > svg,
#lightboxModal > .modalControls > .modalPrev > svg {
  --a: 12px !important;
  position: absolute;
  height: 45px;
  width: 40px;
  filter: drop-shadow(0 0 1px rgb(0 0 0 / 60%)) drop-shadow(0 0 0 rgb(0 0 0 / 90%));
}

#lightboxModal > .modalControls > .modalNext > svg {
  left: var(--a);
}

#lightboxModal > .modalControls > .modalPrev > svg {
  right: var(--a);
}

#lightboxModal > .modalControls > .modalNext:hover,
#lightboxModal > .modalControls > .modalPrev:hover {
  box-shadow: 0 0 1px 1px #000, 0 0 10px 0 var(--primary-500);
  color: var(--body-text-color);
  background: var(--primary-500) !important;
  filter: drop-shadow(0 0 5px var(--primary-500));
}

#lightboxModal > .modalControls > .modalZoom,
#lightboxModal > .modalControls > .modalSave,
#lightboxModal > .modalControls > .modalTileImage {
  display: none !important;
}