#lightboxModal {
  overflow: hidden;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s ease;
  opacity: 0;
  transform: translate(0px, 0px) scale(1);
}

#modalWrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translate(0px, 0px) scale(0);
  transition: transform 0.3s ease, opacity 0.4s ease;
}

#modalImage {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  user-select: none;
  background-color: var(--input-background-fill);
  transition: transform 0.3s ease;
  transform: translate(0px, 0px) scale(1);
}

#modalImage:focus {
  outline: none;
}

.modalControls {
  pointer-events: none;
  transition: 0.3s ease;
}

.modalControls:hover {
  background-color: transparent !important;
}

.modalControls span {
  display: flex;
  z-index: 9999;
  color: var(--button-secondary-text-color) !important;
  pointer-events: auto;
  filter: brightness(1);
  text-shadow: 0 0 7px black !important;
  position: absolute !important;
  width: auto !important;
  transition: 0.3s ease;
  top: 10px;
}

.modalControls span:hover {
  filter: brightness(1);
  transform: scale(1.3);
  color: var(--button-secondary-text-color-hover) !important;
}

.modalZoom,
.modalSave,
.modalTileImage {
  display: none !important;
}

#lightboxModal .modalNext,
.modalClose {
  right: 10px;
}

.modalToggleLivePreview {
  left: 65px;
}

#lightboxModal .modalPrev,
.downloadImage {
  left: 10px;
}

.modalPrev,
.modalNext {
  z-index: 9999;
  color: var(--button-secondary-text-color) !important;
  font-size: 30px !important;
  transition: 0.3s ease !important;
  padding: 0;
  margin: 0;
}

.modalPrev:hover,
.modalNext:hover {
  filter: brightness(1);
  background-color: transparent !important;
  background: transparent !important;
  transform: scale(1.4);
  color: var(--button-secondary-text-color-hover) !important;
}

.downloadImage svg,
.modalClose svg,
.modalToggleLivePreview svg,
.modalPrev svg,
.modalNext svg {
  filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 3px #000);
}
