#lightboxModal {
  display: none;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity .2s ease;
}

#lightboxModal.display {
  opacity: 1;
}

#modalWrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: translate(0px, 0px) scale(1.2);
  transition: transform .2s ease-out;
}

#modalWrapper.display {
  transform: translate(0px, 0px) scale(1);
}

#modalImage {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  user-select: none;
  background-color: var(--input-background-fill);
  transform: translate(0px, 0px) scale(1.0001);
  outline: none;
}

#lightboxModal > .modalControls {
  height: 100%;
  padding: 0px !important;
  pointer-events: none;
}

#lightboxModal > .modalControls * {
  transition: opacity 0.3s ease;
}

#lightboxModal > .modalControls.hide * {
  opacity: 0 !important;
  pointer-events: none !important;
}

#lightboxModal > .modalControls:hover {
  background-color: transparent !important;
}

#lightboxModal > .modalControls span {
  display: flex;
  z-index: 9999;
  top: 5px;
  color: var(--button-secondary-text-color) !important;
  pointer-events: auto;
  filter: brightness(1);
  text-shadow: 0 0 7px black !important;
  position: absolute !important;
  width: auto !important;
  transition: 0.3s ease;
}

#lightboxModal > .modalControls span:hover {
  filter: brightness(1);
  transform: scale(1.3);
  color: var(--button-secondary-text-color-hover) !important;
}

.modalZoom,
.modalSave,
.modalTileImage {
  display: none !important;
}

.modalToggleLivePreview {
  left: 65px;
}

#lightboxModal .modalNext,
.modalClose {
  right: 5px;
}

#lightboxModal .modalPrev,
.downloadImage {
  left: 5px;
}

.downloadImage svg,
.modalClose svg,
.modalToggleLivePreview svg {
  height: 45px;
  width: 45px;
  filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 3px #000);
}

#lightboxModal .modalPrev,
#lightboxModal .modalNext {
  z-index: 9999;
  top: 50%;
  color: var(--button-secondary-text-color) !important;
  padding: 0;
  margin: 0;
  pointer-events: auto;
  transition: 0.3s ease !important;
}

#lightboxModal .modalPrev svg,
#lightboxModal .modalNext svg {
  height: 45px;
  width: 45px;
  filter: drop-shadow(0 0 4px rgb(0 0 0 / 60%)) drop-shadow(0 0 3px rgb(0 0 0 / 60%)) drop-shadow(0 0 2px rgb(0 0 0 / 90%));
}

#lightboxModal .modalPrev:hover,
#lightboxModal .modalNext:hover {
  filter: brightness(1);
  background-color: transparent !important;
  background: transparent !important;
  transform: scale(1.4);
  color: var(--button-secondary-text-color-hover) !important;
}